header, footer {
    background-color: #e0bb76ac;
}

footer, nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

nav > p {
    display: flex;
    margin-right: auto;
    color: #990000;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
}

#lien {
    margin-left: 50px;
}

header > nav > img {
    width: 100px;
    height: auto;
}

body {
    background-color: #ffe1ad;
    font: Arial;
}

h1 {
    text-align: center;
}

section {
    background-color: #f5ca7a94;
    padding: 20px;
}

#bienvenue, #decouvrir {
    text-align: center;
}

#decouvrir > img {
    width: 300px;
    height: auto;
}

#adopt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

#adopt > div {
    padding: 30px;
}

#adopt > div > img {
    width: 300px;
    height: auto;
}

form {
    padding: 20px;
    margin: 10px;
}

#formulaire {
    border: 3px solid brown;
    background-color: #c0c0c0;
    margin: auto;
    max-width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
}

fieldset {
    border: 3px solid brown;
    background-color: #f0f0f0;
}